In [2]:
import numpy as np
import pandas as pd

In [27]:
colnames = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capial-loss',
           'hours-per-week', 'native-country', 'salary']
df = pd.read_csv('homework_dataset/adult.data.csv', names=colnames, header=None, skipinitialspace=True)

In [28]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capial-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [29]:
df.value_counts(df['sex'])

sex
Male      21790
Female    10771
dtype: int64

In [31]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

Какова доля граждан Германии (признак native-country) в процентах

In [33]:
df.value_counts(df['native-country'], normalize=True)

native-country
United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Laos                          0.000553
Thailand                      0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
dtype: float64

4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [36]:
df[df['salary'] == '>50K']['age'].apply([np.mean, np.std])

mean    44.249841
std     10.519028
Name: age, dtype: float64

In [37]:
df[df['salary'] == '<=50K']['age'].apply([np.mean, np.std])

mean    36.783738
std     14.020088
Name: age, dtype: float64

Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [48]:
degrees = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
df1 = df[(df['education'] == 'Bachelors') | (df['education'] == 'Prof-school') | (df['education'] == 'Assoc-acdm') |
  (df['education'] == 'Assoc-voc') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]['salary']
df1.value_counts()

<=50K    5981
>50K     4535
Name: salary, dtype: int64

Каков максимальный возраст мужчин расы Amer-Indian-Eskimo?

In [49]:
df[df['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)?

In [61]:
df_temp = df.copy()
d = {'Married-civ-spouse': True, 'Married-spouse-absent': True, 'Married-AF-spouse': True}
df_temp['marital-status'] = df_temp['marital-status'].map(d).fillna(False)
df_temp.head()
pd.crosstab(df_temp['marital-status'], df_temp['salary'], normalize=True)

salary             <=50K      >50K
marital-status
False           0.492583  0.033936
True            0.266607  0.206873

Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много? *

In [62]:
df.value_counts(df['hours-per-week'] == df['hours-per-week'].max())

hours-per-week
False    32476
True        85
dtype: int64

Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии?

In [66]:
df_temp = df[df['native-country'] == 'Japan']
df_temp.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capial-loss,hours-per-week,native-country,salary
1020,41,Private,198316,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,Japan,<=50K
1119,53,Private,288020,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Japan,<=50K
1301,29,Private,419721,HS-grad,9,Never-married,Other-service,Unmarried,Black,Female,0,0,40,Japan,<=50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1756,47,Self-emp-not-inc,162924,Bachelors,13,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,60,Japan,<=50K

In [68]:
df_temp.groupby(['salary'])['hours-per-week'].agg(np.mean)

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64